body {
  background:#999;
  height: 100vh;
}

.newsletter {
  background: #FFF;
  padding: 20px;
  color: #333;
  position: fixed;
  left: 0%; 
  top: 20%;
  transition: 0.3s ease all;
  transform: translate3d(-100%, 0, 0) scale(1.5, 0.8);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.newsletter.open {
  left: 50%;
  transform: translate3d(-50%, 0, 0) scale(1,1);
}

.newsletter > * {
  opacity: 0;
  transition: 0.3s ease all 2s;
}

.newsletter h2 {
  margin-top: 0;
}