ul {
  margin: 0;
  padding: 0;
}

.item {
  padding: 10px;
  background: #3C5B9A;
  color: #FFF;
  margin-bottom: 10px;
}
.ball {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #CA5765;
}
 
.item-1 .ball {
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  from {
    transform: translateX(0px) scaleX(8);
  }
  to {
    transform: translateX(300px) scale(0.5) rotate(90deg);
  }
}

.item-2 .ball {
  animation: circle-two 3s infinite alternate;
}









